@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Manrope:wght@400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", sans-serif;
  color: #e2e8f0;
  background: #08111d;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.font-serif {
  font-family: "Instrument Serif", serif;
}
